include aston/ui/icons/*.svg
include aston/ui/icons/*.png
include aston/ui/icons/*.ico
include aston/i18n/*.qm
include aston/i18n/*.ts
include aston/i18n/aston.pro
include *.rst
include COPYING.txt
include settings.ini 
